<p id="notice"><%= notice %></p>

<p>
  <b>Overall:</b>
  <%= @review.overall %>
</p>

<p>
  <b>Locscore:</b>
  <%= @review.locscore %>
</p>

<p>
  <b>Overallvalue:</b>
  <%= @review.overallvalue %>
</p>

<p>
  <b>Officestaff:</b>
  <%= @review.officestaff %>
</p>

<p>
  <b>Maintenanceservice:</b>
  <%= @review.maintenanceservice %>
</p>

<p>
  <b>Qualityofamenities:</b>
  <%= @review.qualityofamenities %>
</p>

<p>
  <b>Noise:</b>
  <%= @review.noise %>
</p>

<p>
  <b>Title:</b>
  <%= @review.title %>
</p>

<p>
  <b>Reviewdesc:</b>
  <%= @review.reviewdesc %>
</p>

<p>
  <b>Nickname:</b>
  <%= @review.nickname %>
</p>

<p>
  <b>Email:</b>
  <%= @review.email %>
</p>

<p>
  <b>Location:</b>
  <%= @review.location %>
</p>

<p>
  <b>Reviewertype:</b>
  <%= @review.reviewertype %>
</p>

<p>
  <b>Professional:</b>
  <%= @review.professional %>
</p>

<p>
  <b>Emailonpost:</b>
  <%= @review.emailonpost %>
</p>

<p>
  <b>Emailoncomment:</b>
  <%= @review.emailoncomment %>
</p>

<p>
  <b>Publishsocial:</b>
  <%= @review.publishsocial %>
</p>

<p>
  <b>Ipaddress:</b>
  <%= @review.ipaddress %>
</p>

<p>
  <b>Propertyid:</b>
  <%= @review.propertyid %>
</p>

<p>
  <b>Reviewid:</b>
  <%= @review.reviewid %>
</p>

<p>
  <b>Featuredreview:</b>
  <%= @review.featuredreview %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
